.project_card {
  background-color: #f9f9f9;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  padding: .9em;
  border: 1px solid #7a7a7a;
  min-width: 220px;
  box-sizing: border-box;
  border-radius: 8px;
  color: #ddd;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-shrink: 0;
  flex: 1 1 calc((100% - 3rem) / 4);
  max-width: 23%;
  margin-bottom: 1rem;
  max-width: calc((100% - 3rem) / 4);
}
.project_card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.15);
}

.project_card h4 {
  background-color: #222;
  color: #ffbb33;
  padding: 0.4em;
  margin-bottom: 1.3em;
  font-size: 1.3em;
  border-radius: 4px;
}

.project_card p {
  color: #7a7a7a;
  margin-bottom: 1em;
  flex-grow: 1;
}

.project_card p span {
  font-weight: bold;
}

.category_text {
  display: flex;
  align-items: center;
  font-size: 0.95em;
  color: #555;
  margin-bottom: 1em;
}
.category_text span {
  display: block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #ccc;
  margin-right: 0.5em;
}

.category_text .infra {
  background-color: #ffaebc;
}

.category_text .desenvolvimento {
  background-color: #a0b7e5;  
}

.category_text .design { 
  background-color: #b4f8c8;
}

.category_text .planejamento {
  background-color: #fbe7c6;
}

.project_card_actions {
  margin-top:  1em;
  display: flex;
  align-items: center;
}

.project_card_actions a,
.project_card_actions button {
    text-decoration: none;
    border-radius: 5px;
    background-color: #fff;
    color: #222;
    font-size: .9em;
    padding: 0;
    cursor: pointer;
    margin-right: 1em;
    border: 1px solid #222;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s;
    padding: .8em;
    text-align: center;
    height: 35px;
    width: 110px;
    
} 

.project_card_actions a svg,
.project_card_actions button svg {
  margin-right: 0.5em;
}

.project_card_actions svg{
    margin-right: .5em;
}

.project_card_actions a:hover,
.project_card_actions button:hover {
    background-color: #222;
    color: #ffbb33;
}
.project_link {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}



@media (max-width: 900px) {
  .project_card {
    flex: 1 1 48%; 
    max-width: 48%
  }
}


@media (max-width: 600px) {
  .project_card {
    flex: 1 1 100%; 
    max-width: 100%;
  }
}