.form_control {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.2em;
  max-width: 350px;      
  width: 100%;           
}

.form_control label {
  margin-bottom: 0.4em;
  font-weight: 600;
  font-size: 0.9rem;
  color: #333;
}

.form_control input {
  padding: 0.5em 0.8em;
  font-size: 0.9rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  color: #333;
  transition: all 0.3s ease;
}

.form_control input::placeholder {
  color: #7b7b7b;
}

.form_control input:focus {
  outline: none;
  border-color: #007bff;
  background-color: #fff;
}
