.container {
  width: 100%;
  margin: 0 auto;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: transparent; 
  font-family: 'Open Sans', sans-serif;
  display: flex;        
  flex-wrap: wrap;
  justify-content: space-between;
  flex: 1;
  flex-direction: column;
  min-height: 75vh;
}

.minHeight {
  min-height: 75vh;
}

.content {
  flex-grow: 1;
}

  .start {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 1rem;
}

.column {
  flex-direction: column;
  justify-content: flex-start;
}
